<div class="padding" ng-controller="ProgressController">
	<super-navbar>
	  <super-navbar-title>
	    {{navbarTitle}}
	  </super-navbar-title>
	</super-navbar>

    <div ng-repeat="goal in goals">
        <div class="card">
            <div class="item item-divider" ng-bind="goal.get('rewardname')">    
            </div>
            <div class="item item-text-wrap">
                <span> Goal: </span>
                <span ng-bind="goal.get('mileage')"> </span>
            </div>
            <div class="item item-text-wrap">
                <span>Progress:</span>
                <span ng-bind="goal.get('mileage') - goal.get('remaining')"></span>
            </div>
            <div class="item item-text-wrap">
                <span>Remaining:</span>
                <span ng-bind="goal.get('remaining')"></span>
            </div>
        </div>
    </div>
</div>

