/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
*/
navigation-bar {
  background-color: #1b1b1b;
  color: #ffffff;
/*  font-family: 'Source Sans Pro', sans-serif; 
*/}

navigation-bar title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

navigation-bar button, navigation-bar back-bar-button {
  color: #ffffff;
  font-weight: 300;
}

tab-bar {
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;
  color: #f1684e;
}

tab-bar tab-bar-item {
  color: #b0b1b4;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar:selected {
  color: #f1684e;
}

tab-bar tab-bar-item:selected {
  color: #f1684e;
  background-color: #f1684e;
}

tab-bar-item#goalset {
  background-image: url(icons/goalset.png);
}

tab-bar-item#workouts {
  background-image: url(icons/run.png);
}

tab-bar-item#progress {
  background-image: url(icons/gift.png);
}